<!DOCTYPE html>
<html lang="el">

<head lang="el">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link rel="stylesheet" href="{% static 'semantic-ui-css-master/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'my_static/index.css' %}">



</head>
<body>

    <div class="ui six item top fixed menu">
        {% block upper_bar %}
        <a href="{% url 'site_admin' %}" class="active item">Homepage</a>
        <a href="{% url 'orders_admin' %}" class="item">Παραγγελίες</a>
        <a class="item">Πελάτες</a>
        <a href="{% url 'site_control' %}" class="item">Διαχείρηση Site</a>
        <a href="{% url 'blog_admin' %}" class="item">Διαχείρηση Blog</a>
        <a href="/home" class="right item">Επιστοφή στην αποθήκη</a>
        {% endblock %}
    </div>
{% block bottom_menu %}
    <div class="ui three item bottom fixed menu">
         <a href="{% url 'site_admin' %}" class="active item">Νέες Παραγγελίες</a>
         <a href="" class="item">Σχόλια</a>
         <a href="{% url 'site_msg' %}" class="item">Μηνύματα</a>
    </div>
{% endblock %}
    <div style="margin-top: 5%;margin-bottom: 5%" class="ui grid">
        {% block content %}
            <div class="one wide column"></div>
            <div class="four wide column">
                <h2 class="ui icon header">
                    <i class="red settings icon"></i>
                    <div class="content">
                        Νέες Παραγγελίες
                        <div class="sub header">Δείτε τις μη επεξεργασμένες παραγγελίες εδώ</div>
                    </div>
                </h2>
                <div class="ui cards">
                    {% for order in new_eshop_orders %}
                    <div class="card">
                        <div class="content">
                            <div class="header">
                                {{ order.title }}
                            </div>
                            <div class="meta">
                                {{ order.template_tag_value }}
                            </div>
                            <div class="description">
                                {{ order.first_name }}  {{ order.last_name }}
                            </div>
                            <div class="red description">
                               ΠΑΡΑΤΗΡΗΣΕΙΣ <BR>
                                {% if order.notes %}
                                <p style="color: red">{{ order.notes }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a href="{% url 'print_order' order.id %}" class="ui basic green button">Εκτύπωση</a>
                                <a  href="{{ order.absolute_url_admin_site }}" class="ui basic blue button">Επεξεργασία</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="five wide column">
                <h2 class="ui icon header">
                    <i class="blue settings icon"></i>
                    <div class="content">
                        Προϊόντα
                        <div class="sub header">Τα Προϊόντα που αποτελούν τις νέες παραγγελίες</div>
                    </div>
                </h2>
                <div class="ui cards">
                    {% for order in new_eshop_items %}
                    <div class="card">
                        <div class="content">
                            <div class="header">
                                {{ order.title }}
                            </div>
                            <div class="description">
                                Χρώμα... {{ order.color }} Μέγεθος... {{ order.size }}
                            </div>
                            <div class="description">
                                Τιμή Μονάδας... {{ order.template_tag_price }}
                            </div>
                            <div class="description">
                                Ποσότητα <bold>{{ order.qty }}</bold>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a href="{{ order.order.absolute_url_admin_site }}" class="ui inverted blue button">Πήγαινε στην Παραγελία</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="five wide column">
            <div class="one wide column"></div>
            <h2 class="ui icon header">
                    <i class="green settings icon"></i>
                    <div class="content">
                        Απεσταλμένες Παραγγελίες
                        <div class="sub header">Τα Προϊόντα που αποτελούν τις νέες παραγγελίες</div>
                    </div>
                </h2>
                <div class="ui cards">
                    {% for order in sent_eshop_orders %}
                    <div class="card">
                        <div class="content">
                            <div class="header">
                                {{ order.title }}
                            </div>
                            <div class="meta">
                                {{ order.value|floatformat:2 }} €
                            </div>
                            <div class="description">
                                {{ order.first_name }}  {{ order.last_name }}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <a href="{{ order.absolute_url_admin_site }}" class="ui inverted green button">Στάλθηκε</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>



<script type="text/javascript" src="{% static 'jquery-1.12.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic-ui-daterangepicker-master/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic-ui-daterangepicker-master/daterangepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui-daterangepicker-master/daterangepicker.css' %}" />


<script type="text/javascript" src="{% static 'semantic-ui-css-master/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'my_static/index.js' %}"></script>



<script type="text/javascript">
$(document).ready(function() {

  $('input[name="daterange"]').daterangepicker();
});


$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('input[name="date_pick"]').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('input[name="date_pick"]').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
            "Προηγούμενο Τρίμηνο": [moment().subtract(3, 'month'), moment()],
           'Today': [moment(), moment()],
            "Τρέχων Χρονιά": [moment().startOf('year'), moment().endOf('year')],
            "Επόμενο Τρίμηνο": [moment().startOf('month'), moment().subtract(-3, 'month').endOf('month')],
            "Επόμενο Εξάμηνο": [moment().startOf('month'), moment().subtract(-6, 'month').endOf('month')],

           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
</script>
{% block my_static %}

{% endblock %}
</body>


</html>
