{% extends 'my_site/blog/blog_admin.html' %}

{% block center %}

    <div class="row">
        <nav style=" background-color: #809a93;" id="nav_top_bar" class="navbar navbar-default">
                <ul class="nav navbar-nav col-md-12">
                    <li class="col-md-2"></li>
                    <li class="col-md-1"><button style="" class="btn btn-default"><span class=" glyphicon glyphicon-cog" aria-hidden="true">Ρυθμίσεις</span></button> </li>
                </ul>
        </nav>
    </div>

{% endblock %}