{% extends 'my_site/index.html' %}

{% block my_static %}

<script type="text/javascript">
    $('.ui.checkbox')
            .checkbox();
</script>

{% endblock %}
{% block upper_bar %}
        <a href="{% url 'site_admin' %}" class=" item">Homepage</a>
        <a href="{% url 'orders_admin' %}" class="item">Παραγγελίες</a>
        <a class="item">Πελάτες</a>
        <a href="{% url 'site_control' %}" class="active item">Διαχείρηση Site</a>
        <a href="{% url 'blog_admin' %}" class="item">Διαχείρηση Blog</a>
        <a href="/home" class="right item">Επιστοφή στην αποθήκη</a>
{% endblock %}




{% block bottom_menu %}
    <div class="ui five item bottom fixed menu">
    <a href="{% url 'site_control' %}" style="background-color: teal" class="item">Welcome Page</a>
    <a href="{% url 'site_control_banners' %}" style="background-color: #0076ad" class="item">Banners</a>
    <a href="{% url 'site_control_newsletter' %}" style="background-color: green" class="item">NewsLetter</a>
    <a href="{% url 'site_control_contact' %}"  class="active item">Contact Page</a>
    <a href="" class="item">Κεντρική Σελίδα</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <h2 style="align-content: center; text-align: center;margin-left: 40%"  class="ui header">
            <i class="info icon"></i>
            <div class="content">
                Πληροφορίες
                <div class="sub header">Επεξεργάσου τις πληροφορίες του καταστήματος</div>
            </div>
        </h2>
    </div>
    <div class="four wide column">
        <div class="ui header"><i class="question blue icon"></i>FAQ </div>
        <div class="ui celled animated list">
            {% for message in ask_questions %}
                <div class="item">
                    <div class="content">
                        <a target="_blank" href="/admin/mysite/eshopaskquestions/{{ message.id }}/change/" class="green header">{{ message.title }}</a>
                        {{ message.content}}
                    </div>
                </div>
            {% endfor %}

            <div style="margin-top: 5%" class="green item">
                <div class="content">
                    <a target="_blank" href="/admin/mysite/eshopaskquestions/add/" class="ui green button">Δημιουργία Μηνύματος</a>
                </div>
            </div>
        </div>

    </div>
     <div class="four wide column">
        <div class="ui header" ><i class="tv icon"></i>Πληροφορίες Καταστήματος(Contact Page) </div>
         <div class="ui cards">
            <div class="card">
                <div class="content">
                  <div class="header">{{ eshop_info.title }}</div>
                  <div class="description">
                    {{ eshop_info.address }}<br>
                    <i class="phone icon"></i> {{ eshop_info.call_center }}  <br>
                    <i class="phone icon"></i> {{ eshop_info.support }}
                  </div>
                </div>
                <a href="/admin/mysite/eshopinformation/1/change/" target="_blank" class="ui blue bottom attached button">
                  <i class="add icon"></i>
                  Επεξεργασία
                </a>
            </div>
         </div>


    </div>
     <div class="four wide column">
        <div class="ui header" ><i class="tv icon"></i>Πληροφορίες Εταιρίας(Τιμολόγιο) </div>
         <div class="ui cards">
            <div class="card">
                <div class="content">
                  <div class="header">{{ company_info.title }}</div>
                  <div class="description">
                    {{company_info.address }}<br>
                    {{ company_info.zip_code }}, {{ company_info.state }}  <br>
                    {{ company_info.country }}<br>
                    <i class="phone icon"></i> {{ company_info.phone }}

                  </div>
                </div>
                <a href="/admin/mysite/companyinfo/1/change/" target="_blank" class="ui blue bottom attached button">
                  <i class="add icon"></i>
                  Επεξεργασία
                </a>
            </div>
         </div>


    </div>
     <div class="four wide column">
        <div class="ui header" ><i class="tv icon"></i>Όροι Χρήσης</div>
         <div class="ui cards">
            <div class="card">
                <div class="content">
                  <div class="header">{{ user_terms.title }}</div>
                  <div class="description">
                    {{ user_terms.text }}

                  </div>
                </div>
                <a href="/admin/mysite/userterms/1/change/" target="_blank" class="ui blue bottom attached button">
                  <i class="add icon"></i>
                  Επεξεργασία
                </a>
            </div>
         </div>
    </div>
    <div class="row" style="margin-bottom: 5%"></div>

{% endblock %}

title = models.CharField(max_length=100)
    address = models.CharField(max_length=150)
    city = models.CharField(max_length=150)
    zip_code = models.IntegerField()
    state = models.CharField(max_length=150)
    country = models.CharField(max_length=150)
    phone = models.IntegerField()
    currency = models.CharField(max_length=3, default='€')