{% extends "movements/all_orders.html" %}


{% block sidebar %}
    <style>
    @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Montserrat:400,700|Droid+Serif:400,400italic,700,700italic);

*{
  margin: 0; border: 0;
}



h1{
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%
}
p{

  font-family: 'Droid Serif';
  font-style: italic;
  color: #666;
  text-align: center;
  margin-top: 1%
}

Body{
  font-family: 'Montserrat';
}

#container{
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-top: 3%;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
}

.accordion label{
  display:block;
  background-color: #eeeeee;
  padding: 10px;
  color: #424242;
  text-shadow: 0 0 2px rgba(255,255,255,0.6);
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #ffffff;
}

.accordion p{
  color: #424242;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.7em;
  border-bottom: 1px solid #bdbdbd;
  font-family: 'Droid Serif';
  font-style: italic;
  visibility: hidden;
  opacity: 0;
  display: none;
  text-align: left;
  background-color: #fff;
  margin-top: 0px;
}

#tm:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tm{
  display: none;
  position: relative;
}

#tn:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tn{
  display: none;
  position: relative;
}

#to:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#to{
  display: none;
  position: relative;
}
.arrow{
  color: #666666;
}

    </style>
<h1>{{ order.code }}</h1>
<p>{{ order.date }}</p>
    <p>{{ order.vendor.title }}</p>
<!-- Start of the accordion -->
<div id="container">
  <!-- Item 1 -->
  <div class="accordion">
    <label for="tm" class="accordionitem"><h2 style="font-size: medium">Καθαρή Αξία/Έκπτωση /Αξία μετά έκπτωσης <span class="arrow">&raquo;</span></h2></label>
    <input type="checkbox" id="tm"/>
    <p class="hiddentext">{{ order.total_price_no_discount }}€/{{ order.total_discount }}€/{{ order.total_price_after_discount }}€</p>
  </div>

  <!-- Item 2 -->
  <div class="accordion">
    <label for="tn" class="accordionitem"><h2 style="font-size: medium">ΦΠΑ/Κόστος Μεταφορικών<span class="arrow">&raquo;</span></h2></label>
    <input type="checkbox" id="tn"/>
    <p class="hiddentext">Total Taxes:{{ order.total_taxes }}€ <br> Cost Transfer: {{ order.cost_transfer }}€</p>
  </div>

  <!-- Item 3 -->
  <div class="accordion">
    <label for="to" class="accordionitem"><h2 style="font-size: medium">Τελική Αξία<span class="arrow">&raquo;</span></h2></label>
    <input type="checkbox" id="to"/>
    <p class="hiddentext">{{ order.total_price }}€</p>
  </div>

    <a href="{% url 'all_orders' %}">Back</a>
{% endblock %}

{% block context %}
    <style>
    /*
	Side Navigation Menu V2, RWD
	===================
	License:
	http://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #1b2875; font-size: medium }
.yellow { color: #ffc6f1;font-size: large; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
    color: #ffffff;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
    color: #ffffff;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
    </style>

    <h1 style="font-size: larger"><span class="blue">&lt;</span>Στοιχεία Τιμολογίου<span class="blue">&gt;</span> <span class="yellow"></span></h1>


<table class="container">

	<thead>
		<tr>
			<th><h1>Προϊόν</h1></th>
			<th><h1>Ποσότητα</h1></th>
			<th><h1>Μονάδα Μέτρησης</h1></th>
			<th><h1>Τιμή μονάδας</h1></th>
            <th><h1>Έκπτωση</h1></th>
            <th><h1>Τιμή μετά την έκπτωση</h1></th>
            <th><h1>ΦΠΑ</h1></th>
            <th><h1>Τελική Τιμή</h1></th>
		</tr>
	</thead>
	<tbody>
    {% for ele in products %}
		<tr>
			<td>{{ ele.product.title }}</td>
			<td>{{ ele.qty }}</td>
			<td>{{ ele.unit }}</td>
			<td>{{ ele.price }}</td>
            <td>{{ ele.discount }}%</td>
            <td>{{ ele.price_after_discount }}</td>
            <td>{{ ele.get_taxes_display }}%</td>
            <td>{{ ele.price_after_taxes }}</td>
		</tr>
    {% endfor %}

	</tbody>
</table>
{% endblock %}