{% extends 'inventory/pay_section/fixed_costs/homepage.html' %}


{% block center %}
    <style>
    #id_category,label[for=id_category],#id_total_cost,label[for=id_total_cost],#id_remaining_cost,label[for=id_remaining_cost]{
        display: none;
    }
    </style>

    <div class="ui segments">
        <div style="text-align: center" class="ui blue inverted header segment">Δημιουργία Επαγγέλματος</div>
        <div class="ui form segment">

            <form class="ui form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form }}
                <input style="width: 100%;height: 100px" type="submit" name="submit" class="ui green button" value="Προσθήκη"/>
            </form>
        </div>
    </div>

{% endblock %}

{% block right_side %}

{% endblock %}