{% extends 'PoS/homepage.html' %}


{% block center %}

    <div class="ui segments">
                    <div class="ui inverted blue segment">

                        <h2 style="text-align: center">Tables</h2>
                    </div>
                    <div class="ui inverted segment">


                        {% for ele in tables %}
                            <a href="/PoS/επέλεξε-συνταγή/{{ ele.id }}" id="table_pos" style="text-align:center; width: 30%; height: 200px; margin-top: 2%" class="ui massive blue button ">{{ ele.table.title }}</a>
                        {% endfor %}
                    </div>
                </div>
{% endblock %}